@media (min-width: 768px) {
    .small {
      display: none !important;
    }
    .banner_font {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .large {
      display: none !important;
      opacity: 1;
      animation: none; 
    }
  
    .small {
      display: block !important; 
    }
  }
  
   @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 
  
  .large, .small {
    animation: none;
  }
  .coverContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .coverContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .title {
    color:white;
    font-size: 48px;
    font-weight: 700;
  }
  
  .subtitle {
    color: white;
    font-size: 24px;
  }
  .textcontainer {
    display: inline-flex;
    flex-direction: column;
    height: 3.5rem;
    overflow: hidden;
  }
  
  .textcontainer span {
    height: 4.3rem;
    background: linear-gradient(to right, rgb(203, 19, 50), rgb(189, 141, 52), green, rgb(188, 50, 188));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveUp 10s linear infinite;
    margin-bottom: 1.5rem; 
}

  
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    
    5% {
      transform: translateY(0);
    }
  
    15% {
      transform: translateY(-5rem);
    }
  
    25% {
      transform: translateY(-5rem);
    }
  
    35% {
      transform: translateY(-10.2rem);
    }
  
    45% {
      transform: translateY(-10.2rem);
    }
  
    55% {
      transform: translateY(-15.1rem);
    }
  
    65% {
      transform: translateY(-15.1rem);
    }
  
    75% {
      transform: translateY(-20.2rem);
    }
  
    95% {
      transform: translateY(-20.2rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  