table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   }

   .table-content {
    padding: 5px;
   }

   .table-heading {
    padding: 7px;
    font-size: 20px;
    background-color: #f1ae3f;
   }

   td {
    font-size: 15px;
    font-style: normal;
   }

   td,
   th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 20px;
   }

   tr:nth-child(odd) {
    background-color: #dddddd;
   }