.header {
    position: sticky;
    top: 0;
    background-color: white;
    /* Adjust this as needed */
    z-index: 1000;
    /* Ensure it's above other content */
}

.navbar {
    background-color: white;
    padding-top: 2vh;
    text-align: center;
    position: relative; 
    z-index: 1001;
}

.navList {
    list-style-type: none;
    justify-content: center;
    display: inline-block;
    width: 100%;
    margin: auto;
    height: 60px;
    padding: 0;
}

.other,
.logo,
.dropdown {
    float: left;
    text-align: center;
    margin: auto;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.img_class {
    width: 70%;
}

.logo {
    width: 30%;
}

.other,
.dropdown {
    width: 10%;

}

.navList li a {
    display: block;
    color: rgb(112, 107, 107);
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}

.active {
    background-color: orange;
    border-radius: 50%;
}

.navList li a:hover {
    color: #111;
}

.dropdown {
    display: inline-flex;
    visibility: hidden;
    text-align: right;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: rgb(112, 107, 107);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-right: 10px;
}

.dropbtn2 {
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-right: 10px;
}

.dropdownContent {
    background-color: #ffffff;
    width: 100vw;
    padding-right: 0px;
    text-align: center;
}

.dropdownContent2 {
    display: none;
    visibility: hidden;
}

.dropdownContent a {
    float: none;
    color: rgb(112, 107, 107);
    text-decoration: none;
    display: block;
    margin-top: 7px;
    font-size: large;
}

.dropdownContent a:hover {
    color: #111;
}

hr {
    color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1100px) {
    .logo {
        display: inline-block;
        width: 350px;
        padding-left: 20px;
    }

    .other {
        visibility: hidden;
        display: none;
    }

    .dropdown {
        justify-content: right;
        visibility: visible;
        width: calc(100% - 350px);
    }
}

@media (max-width: 500px) {

    .navbar {
        background-color: white;
        padding-top: 1vh;
        text-align: center;
    }

    .navList {
        list-style-type: none;
        justify-content: center;
        display: inline-block;
        width: 100%;
        margin: auto;
        height: 40px;
    }

    .logo {
        padding-top: 5px;
        display: inline-block;
        width: 250px;
        padding-left: 10px;
    }

    .other {
        visibility: hidden;
        display: none;
    }

    .dropdown {
        justify-content: right;
        visibility: visible;
        width: calc(100% - 250px);
    }
}

/* 1100px */