.sectionpadding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2rem;
    margin-bottom: 0px;
  }

  .divpadding {
    padding-top:3vh;
  }
  .highlightcard {
    transition: transform 0.3s; /* Add transition for smooth scaling */
  }
  
  .highlightcard:hover {
    transform: scale(1.1); /* Zoom in on hover */
  }
  