.sectionpadding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 1rem;
    margin-bottom: 0px;
  }

  .divpadding {
    padding-top:3vh;
  }
  .highlightimage {
    transition: transform 0.3s; /* Add transition for smooth scaling */
  }
  .highlightimage:hover{
    transform: scale(1.1);
  }